version: '3.8'

services:
  web:
    image: nginx:alpine
    container_name: shiftplan
    volumes:
      - ./:/usr/share/nginx/html
    dns:
      - 1.1.1.1
    restart: unless-stopped
    ports:
      - 8080:80
    security_opt:
      - no-new-privileges=true
    read_only: true
    tmpfs:
      - /tmp
      - /var/cache/nginx
      - /var/run
      - /var/log/nginx
